################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.o
/.vscode
DEMO_turbf
DEMO_turbc
DEMO_mhdc
DEMO_mhdf
DEMO_channelc
DEMO_channelf
DEMO_mixingc
DEMO_mixingf
DEMO_getCutoutc
DEMO_getCutoutf